---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>My Astro Learning Blog</h1>
    <p>
      This is a blog about my journey learning Astro. It's a static site
      generator that's built with JavaScript and is designed to be fast and easy
      to use.
    </p>
  </body>
</html>
